body {
    background-color: aliceblue;
}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}


.nav-links a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: hotpink;
    text-decoration: underline;

}



.bottom {
    background-color: #421b10;
    gap: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;


}

/* imagem grande */
.big {
    width: 600px;
    height: 600px;
    max-height: 700px;
    object-fit: cover;
    border-radius: 5px;

}

/* coluna da direita */
.rightcolumn {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 15px;

}

 /*imagens pequenas*/
.img-small img {
    width: 300px;
    height: 300px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
}

.img-small {
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 20px;
    color: aliceblue;

}



.title {
   text-align: center;
    color: hotpink;
    margin-bottom: 40px;
}



